textarea {
  background: transparent;
  color: #fff;
  font-size: 3.5vh;
  border: 0 none;
  width: 80%;
  height: 75%;
  resize: none;
  text-align: left;
  margin: 0 2vh 2vh;
  padding: 0 2vh 0;
}

.Board {
  border: 2px black;
  display: flex;
}

.Note {
  border-radius: .25em;
  margin: 0 .25em 0;
  color: #fff;
  min-height: 50vh;
}

.AddButton{
  height: 5vh;
  width: 5vh;
  font-size: 3vh;
  border: 2px solid white;
  color: white;
  background: none;
}

.AddPrompt{
  height: 80%;
  width: 80%;
  background-color: red;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 5vh 1vh;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
