
.BodyEntry {
  color: #000;
  border: solid 1px black;
}

.Board {
  border: 2px black;
  display: flex;
  flex-wrap: wrap;
}

.Note {
  border-radius: .25em;
  margin: 0 .25em .5em;
  color: #fff;
  min-height: 50vh;
}

.NoteTitle {
  display: inline;
  margin: 2vh -2vh 1vh 2vh;
}

.DeleteButton{
  float: right;
  margin: 1vh 2vh 2vh 0;
  height: 4vh;
  min-width: 4vh; 
  width: auto;
  font-size: 2vh;
  border: 2px solid white;
  color: white;
  background: none;
}

.Note-white > .DeleteButton{
  border: 2px solid black;
  color: black;
}

.NoteTextarea {
  background: transparent;
  color: #fff;
  font-size: 3.5vh;
  border: 0 none;
  width: 80%;
  height: 75%;
  resize: none;
  text-align: left;
  margin: 0 2vh 2vh;
  padding: 0 2vh 0;
}

.Note-white {
  color: #000;
}

.NoteTextarea-white{
  color: #000;
}

.AddButton{
  height: 5vh;
  min-width: 5vh; 
  width: auto;
  font-size: 3vh;
  border: 2px solid white;
  color: white;
  background: none;
}

.ButtonUI {
  min-height: 2.5vh;
  min-width: 10vh;
  font-size: 2.5vh;
  border: 2px solid black;
  color: black;
  background: none;
  padding: .5vh;
  margin: .5vh;
}

.AddPrompt{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.AddPromptMenu{
  position: relative;
  background-color: white;
  min-height: 10%;
  min-width: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 5vh 1vh;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
